@import '/app/styles/style.css';
@import '/app/routes/client/style.css';

.pa-wrapper {
  @mixin pc {
    width: 700px;
    margin: 0 auto;
  }
}

.pa-inner {
  border: 1px solid var(--colorBorder);
  border-radius: 16px;
  background-color: #fff;

  @mixin pc {
    margin: 120px 0;
    padding: 40px 0;
  }
  @mixin sp {
    padding: 16px 8px;
  }
}

.pa-heading {
  font-weight: 700;
  text-align: center;

  @mixin pc {
    font-size: 2.4rem;
  }
  @mixin sp {
    font-size: 1.8rem;
  }
}

.pa-form {
  @mixin pc {
    margin-top: 36px;
  }
  @mixin sp {
    margin-top: 24px;
  }
}

.pa-global-msg {
  margin: 0 auto;
  color: var(--colorError);
  font-weight: 700;

  @mixin pc {
    width: 480px;
    font-size: 2rem;
  }
  @mixin sp {
    font-size: 1.6rem;
  }
}

.pa-form-items {
  display: flex;
  flex-direction: column;

  @mixin pc {
    width: 480px;
    margin: 24px auto 0;
    gap: 24px 0;
  }
  @mixin sp {
    gap: 28px 0;
  }
}

.pa-form-item {
  display: block;
}

.pa-form-item__label {
  font-weight: 700;
}

.pa-form-item__input {
  display: block;
  margin-top: 4px;
  border: 1px solid var(--colorBorder);

  @mixin pc {
    width: 480px;
    padding: 16px;
    border-radius: 4px;
  }
  @mixin sp {
    width: 100%;
    padding: 8px 16px;
  }

  .is-error &, .has-error & {
    border-color: var(--colorError);
    background-color: var(--colorPink);
  }
}

.pa-form-btn {
  display: block;
  border: 1px solid var(--colorSkyBlue);
  border-radius: 8px;
  background-color: var(--colorSkyBlue);
  color: #fff;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: .3s;

  @mixin pc {
    width: 300px;
    margin: 24px auto 0;
    padding: 12px 16px;
    font-size: 2rem;
  }
  @mixin sp {
    width: 100%;
    margin-top: 24px;
    padding: 12px 16px;
  }

  &:hover {
    @mixin pc {
      background-color: #fff;
      color: var(--colorSkyBlue);
    }
  }
}

.pa-form-link-wrapper {
  text-align: center;

  @mixin pc {
    margin-top: 16px;
  }
  @mixin sp {
    margin-top: 12px;
  }
}

.pa-form-link {
  color: var(--colorBlue);
}

.pa-errors {
  margin-top: 4px;
  color: var(--colorError);
  font-weight: 700;
}
